/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  background: #111;
}

/* Navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.nav-links li a:hover,
.nav-links li a.active {
  color: #00eaff;
}

/* Hero */
.hero {
  position: relative;
  height: 100vh;
  background: url('bukitparalayang.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
.hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
  padding: 20px;
}
.hero-content p {
  font-size: 18px;
  color: #ddd;
}
.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
}
.hero-content h3 {
  font-size: 20px;
  font-weight: 400;
  color: #00eaff;
}

